
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


h1 {
    color: #333;
    margin-bottom: 10px;
}


p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
}


button {
    background: #4facfe;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

    button:hover {
        background: #0077ff;
    }
